/* .f12 {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.child-div {
    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: rgb(166, 65, 255);
    margin-left: 200px;
    margin-right: 200px;
    min-width: 500px;
}

.middle-div {
    width: 60%;
    display: flex;
    align-items: center;
}

.text {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.text:hover {
    text-shadow: 1px 1px 10px black;
}

.left-div {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.right-div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.button-12f {
    font-size: 15px;
    padding: 10px 15px;
    background-color: rgb(166, 65, 255);
    border: solid white;
    color: white;
    font-weight: 700;
    /* border-radius: 10px; */
    cursor: pointer;
}

.button-12f:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.756);
    background-color: rgb(162, 55, 255);
}

.search {
    flex: 1;
    height: 35px;
    padding-left: 20px;
    border-radius: 25px;
    border: none;
    outline: none;
}

.search:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.542);
}